.task{
    background-color: rgb(211, 207, 207);
    border-radius: 2%;
    margin:5%;
    margin-left: 10%;
    margin-right: 10%;
    position: relative;
    box-shadow: 1px 1px 2px;
}

#tasktitle{
    border-bottom: 1px gray solid;
    height: 25px;
}

.material{
    color: gray;
}

#taskfooter{
    position: absolute;
    right: 0;
    bottom: 0;
}

input{
    margin: 2%;
    width: 95%;
    border: none;
    outline: none;
}
